
.ApplyForCertificationForm .ant-menu-item {
  border-right: 3px solid transparent;
}

.ApplyForCertificationForm .ant-menu-item-selected, .ApplyForCertificationForm .ant-menu-item:hover {
  border-right: 3px solid #35b4f2;
}

.ApplyForCertificationForm__table {
  padding: 20px 90px;
  /* border: 1px solid #eee; */
}

.ApplyForCertificationForm__buttons {
  display: flex;
  justify-content: flex-end;
}

.ApplyForCertificationForm__title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  padding: 10px 0;
  text-transform: uppercase;
}

.ApplyForCertificationForm table tbody td {
  vertical-align: top;
}

.applied-auditor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.applied-auditor:not(:first-child):not(:last-child) {
  padding: 3px 0;
}

.applied-auditor:first-child {
  padding-bottom: 3px;
}

.applied-auditor:last-child {
  padding-top: 3px;
}