.OrganProfile .info-fileds {
  margin: 30px 0;
  display: inline-block;
  text-align: center;
}

.OrganProfile .field-title {
  text-align: left;
  padding: 5px 0;
  color: #7f7f7f;
}

.OrganProfile .field-value {
  color: #1e1e1e;
  font-weight: 700;
}

.OrganProfile .main-info {
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #eee;
  padding-bottom: 40px;
}

.OrganProfile .personal-info {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  padding: 9px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}

.OrganProfile .education-block .personal-info {
  margin-left: 20px;
}

.OrganProfile .top-block, .OrganProfile .bottom-block {
  display: flex;
  border: 1px solid #eee; 
}

.OrganProfile .bottom-block {
  padding: 0 20px 60px;
}

.OrganProfile .education-block > *:not(:first-child){
  padding: 0 20px 25px 20px;
}

.OrganProfile .table-title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  padding: 10px 0;
  text-transform: uppercase;
}

.OrganProfile .education-fields {
  border-bottom: 1px solid #eee;
}

.OrganProfile .table-block:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.OrganProfile table tbody td {
  vertical-align: top;
}