body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.Form__input {
  /* margin: 10px 0; */
}

.Form__button {
  margin: 20px 0;
}

.Form__title {
  text-align: center;
}

.Form__inline {
  display: flex;
}

.Form__inline > *:first-child {
  margin-right: 10px;
}

.Form__select {
  width: 100%;
}

.ant-layout-header {
  background: #282828!important;
}

.ant-menu-dark.ant-menu-horizontal {
  background-color: #282828 !important;
  border-bottom-color: #282828 !important;
}

.ant-menu-item {
  margin-top: 4px !important;
  background-color: #282828 !important;
  border-bottom: 3px solid transparent !important;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 !important;
  margin-left: 20px;
  margin-right: 20px;
}

.ant-menu.ant-menu-dark .ant-menu-item-active, .ant-menu-item:hover, .ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #282828 !important;
  border-bottom: 3px solid #fff !important;
}

.ant-form-item {
  margin-bottom: 10px;
}

.ant-layout-header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 72px !important;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 142px;
  height: 48px;
  margin-right: 20px;
}

.logo__text {
  position: relative;
  display: inline-block;
  font-family: PingFangSC;
  font-size: 14px;
  color: #ffffff;
  margin-top: 8px;
}

.logo__text::before {
  position: absolute;
  content: '';
  height: 36px;
  width: 3px;
  background: #fff;
  top: 13px;
  left: -10px;
}

.right__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.Button__group > *:first-child {
  margin-right: 13px;
}

.ant-layout-content {
  margin-top: 75px;
}